
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="testimonial py-5" id="testimonial">
        <div class="container rounded bg-white mt-5">
            <div class="row">
                <div class="col-md-4 py-5 text-white text-center" style="background-color:#ffdde1 ;">
                    <div class=" ">
                        <div class="card-body" >
                            <h3 class="py-3">We sell the sign of love</h3>
                            <img src="https://images.unsplash.com/photo-1526047932273-341f2a7631f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" style="width:100%">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-5 border">
                    <h4 class="pb-4">Please fill with your details</h4>
                    <form action="" method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="d-flex justify-content-center" >
                            <input class="btn mt-2" style="background-color:#acbac3;"  type="submit">
                    </div>                  
                            
                        </div>
                      
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


{% endblock  %}